html { 
  background: url(homebackground1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
background-color: #008542;
text-decoration: none;
float: left;
height: 50px;
width: 100%;
text-align: center;
font-family: "Poiret One";
font-size: 35px;
position: fixed;
top: 0px;
padding-top: 0px;
padding-bottom: 10px;
}

a{
	display: inline-block;
	padding: 10px 100px;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

ul {
	list-style-type: none;
}

img {
	max-width: 600px;
}

footer {
text-align: center;
vertical-align: center;
background-color: #C82506;
font-family: "Poiret One";
font-size: 35px;
width: 100%;
margin: 0px;
clear: both;
position: fixed;
bottom: 0px;
}
